<div class="home__container">
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="DIGITAL"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
    <app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
	<app-card
		gameCover="assets/bt-5.jpg"
		gameLabel="EXCLUSIVO"
		gameType="DISC | PS5"
		gamePrice="299,90"
	>
	</app-card>
</div>